.bicicletas-gb {
  background: var(--cor-11);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.bicicletas-imagem {
  position: relative;
}

.bicicletas-imagem span {
  display: inline-block;
  background: var(--cor-12);
  padding: 8px 16px 8px 16px;
  position: absolute;
  right: 0px;
  top: 20px;
  border-radius: 5px 0 0 5px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas-conteudo ul {
  padding: 0px;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  display: block;
}

.bicicletas p {
  margin-bottom: 32px;
}

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicicletas li + li {
  margin-top: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
}
