.botao {
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #332200;
  font-size: 18px;
  font-weight: 1.33;
  font-family: "poppins";
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
