.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--cor-p5);
  font-size: 18px;
  font-weight: 1.33;
  font-family: "poppins";
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}

.link {
  display: inline-block;
  text-transform: uppercase;
  color: var(--cor-p1);
  font:
    500 1.5rem/1.5 "poppins",
    sans-serif;
}

.link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: currentColor;
  display: block;
}

.link:hover {
  color: var(--cor-0);
}
