body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
li,
p,
blockquote {
  margin: 0px;
}

ul {
  text-decoration: none;
  padding: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
