body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #111111;
}

h1,
ul,
p {
  margin: 0px;
}

ul {
  text-decoration: none;
  padding: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
