.seguro-bg {
  background-color: var(--cor-11);
}

.seguro {
  padding-bottom: 60px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.seguro h2 {
  grid-column: 1/-1;
}

.seguro-item {
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.seguro-item h3 {
  margin-bottom: 40px;
}

.seguro-item span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.seguro-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
  padding: 0;
}

.seguro-item li + li {
  margin-top: 20px;
}

.seguro-item li {
  display: flex;
  align-items: center;
  position: relative;
}

.seguro-item li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -21px;
}

.seguro-item a {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .seguro {
    grid-template-columns: 1fr;
  }
}
