.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  box-sizing: border-box;
}

.introducao-itens {
  align-self: end;
  padding-bottom: 200px;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.introducao h1 {
  margin-bottom: 30px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 54px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 30px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-itens {
    padding-bottom: 0px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
