.tecnologia-bg {
  background-color: var(--cor-11);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40 px;
}

.tecnologia-conteudo {
  grid-column: 1;
}

.tecnologia-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
